function qsort.main 0
push constant 5
call Array.new 1
pop local 0
push local 0
push constant 0
push constant 5
call Array.put 3
pop temp 0
push local 0
push constant 1
push constant 3
call Array.put 3
pop temp 0
push local 0
push constant 2
push constant 8
call Array.put 3
pop temp 0
push local 0
push constant 3
push constant 1
call Array.put 3
pop temp 0
push local 0
push constant 4
push constant 2
call Array.put 3
pop temp 0
push local 0
push constant 0
push constant 4
call qsort.sort 3
pop temp 0
push local 0
push constant 5
call qsort.printArray 2
pop temp 0
push constant 0
return